body,
html {
    min-height: 100%;
}

.purple-gradient {
    background: rgb(9, 9, 121);
    background: linear-gradient(140deg, rgb(24, 24, 151) 0%, rgb(103, 10, 139) 120%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 {
    height: 150px;
}